[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"
mypy = "*"
yapf = "*"
pytest = "*"

[packages]
django = "*"
psycopg2-binary = "*"
django-allauth = "*"
django-extensions = "*"
django-better-admin-arrayfield = "*"
django-crispy-forms = "*"
werkzeug = "*"
django-debug-toolbar = "*"
django-environ = "*"
sentry-sdk = "==0.14.1"
django-admin-sortable = "*"

[requires]
python_version = "3.8"
