[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
yapf = "*"
pytest = "*"
flake8 = "<=3.8"
black = "*"

[packages]
django = "*"
psycopg2-binary = "*"
django-allauth = "*"
django-extensions = "*"
django-better-admin-arrayfield = "*"
django-crispy-forms = "*"
werkzeug = "*"
django-debug-toolbar = "*"
django-environ = "*"
sentry-sdk = "==0.14.1"
django-admin-sortable = "*"
gunicorn = "*"
django-heroku = "*"
stringcase = "*"
crispy-bulma = "*"

[requires]
python_version = "3.11.2"

[pipenv]
allow_prereleases = true
