{% extends "base.html" %}

{% block content %}
  <div class="scheduled-evals container mb-4">
  <h2 class="is-size-4">Scheduled Evaluations</h2>
  
  {% if request.user.scheduled_evaluations.all %}
    <ul>
    {% for evaluation in request.user.scheduled_evaluations.all %}
      <li><a href="{% url 'take_evaluation' pk=evaluation.pk %}">Scheduled on {{ evaluation.start_date }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No evaluations currently scheduled.</p>
  {% endif %}
  </div>
  
  <div class="scheduled-evals container mb-4">
  <h2 class="is-size-4">Completed Evaluations</h2>
  
  {% if evaluations %}
    <ul>
    {% for evaluation in evaluations %}
      <li>
        <a href="{% url 'evaluation_detail' pk=evaluation.pk %}">
          Scheduled on {{ evaluation.scheduled_by.start_date }}; completed on {{ evaluation.evaluated_at|date:"Y-m-d" }}
        </a>
      </li>
    {% endfor %}
    </ul>
  {% else %}    
    <p>No evaluations completed.</p>
  {% endif %}
  </div>
  
  <div class="scheduled-evals container mb-4">
  <h2 class="is-size-4">Your Evaluation Record</h2>

  <p><a href="{% url 'evaluations_report' %}">Report card</a></p>

  <h3>Current Skill Rankings</h3>
  <canvas id="skills-chart" width="40" height="20"></canvas>

  <h3>Average Evaluation Score over Time</h3>
  <canvas id="evaluations-chart" width="400" height="200"></canvas>
  </div>
{% endblock %}

{% block scripts %}
<script>
  let data = contextData
  makeSkillsChart(document.querySelector("#skills-chart"), data.skills_labels, data.skills_scores)  

  let evalChart = new Chart(document.querySelector("#evaluations-chart"), {
    type: 'line',    
    data: {
      labels: data.evaluation_dates,
      datasets: [
        {
          label: "Average Score",
          data: data.evaluation_avgs,
          fill: false,
          borderColor: getCssVar('salmon')
        }
      ]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            suggestedMax: 4
          }
        }],
        xAxes: [{
          offset: true
        }]
      }
    }
  })
</script>
{% endblock %}
