:root {
  --salmon: #e95d68;
  --navy: #1a0a6e;
  --black: #090326;
  --green: #1da57e;
  --blue: #5cc8d8;
  --purple: #6e56b1;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

/* .sans-serif {
  font-family: 'IBM Plex Sans', sans-serif;
}

code, .code {
  font-family: 'IBM Plex Mono', monospace;
} */

.b--salmon {
  border-color: var(--salmon);
}

.control-group {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.control-label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.submit-button {
  border-style: solid;
  border-width: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  border-color: var(--navy);
}

.submit-button:hover {
  background-color: var(--navy);
  color: white;
}

label.checkbox,
label.radio {
  display: block;
  margin-left: 0;
  margin-bottom: 0.25rem;
}

label.checkbox input,
label.radio input {
  margin-right: 0.5rem;
}

.eval-report {
  table-layout: fixed;
  max-width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

.eval-report th,
.eval-report td {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  padding: 0.25rem 0.5rem;
}

.eval-report thead {
  background-color: #dddddd;
  border-bottom: 1px solid #999;
}

.eval-report tbody tr:nth-child(even) {
  background-color: #efefef;
}

.eval-report tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.eval-report .eval-skill {
  text-align: right;
}

@media screen and (min-width: 30em) {
  #div_id_skills .controls {
    columns: 2;
  }
}

@media screen and (min-width: 60em) {
  #div_id_skills .controls {
    columns: 3;
  }
}

.pv2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.asteriskField {
    display: none;
}
