{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Momentum Classroom</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/tachyons.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/classroom.css' %}">
  <script src="{% static 'js/chart.js' %}"></script>
  <script src="{% static 'js/classroom.js' %}"></script>
  {{ js_data|json_script:"context-data" }}
  <script>
  let contextData = window.contextData = JSON.parse(document.getElementById('context-data').textContent)
  </script>
  {% block head %}
  {% endblock %}
</head>
<body class="roboto">
  <div class="bl br bw2 b--salmon min-vh-100">
    <div class="bg-navy">
      <h1 class="f1 white ma0 normal mw8 ph4 pv2 center">
        <a class="link white" href="/">Momentum</a>
      </h1>
      <h2 class="white mv1 ph4 pv2 center">Technical Self-Assessments</h2>
    </div>
    <div class="mw8 ph4 pv2 center lh-copy">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}

      {% block content %}{% endblock %}
    </div>
  </div>
  {% block scripts %}
  {% endblock %}
</body>
</html>
