{% extends "base.html" %}

{% block content %}
  <h2>{{ team }}</h2>

  <ul>
    <li><a href="{% url 'team_report' pk=team.pk %}">Overall Evaluation Report</a></li>
  </ul>

  <h3>Previous Evaluations</h3>

  {% if previous_evaluations %}
  <ul>
    {% for evaluation in previous_evaluations %}
    <li>
      <a href="{% url 'evaluation_report' pk=evaluation.pk %}">
      {{ evaluation.start_date }} - {{ evaluation.team }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No previous evaluations.</p>
  {% endif %}

  <h3>Team Members</h3>  
  {% if members %}
    <ul>
      {% for member in members %}
        <li>{{ member }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No team members.</p>
  {% endif %}
  <p><a href="{% url 'team_invite' pk=team.pk %}">Invite new team members</a></p>
{% endblock %}
